{%- assign meta_description = "" %}
{%- assign content_html = page.content | markdownify %}
{%- assign content_params = ""%}
{%- assign _params = content_html | split: "<p>" %}
{%- for item in _params %}
{%- assign _tmp = item |split: "</p>" %}
{%- assign _tmp =_tmp[0] | strip_html %}
{%- assign content_params = content_params | append: _tmp | append: "||" %}
{%- endfor %}
{%- assign content_params = content_params | split: "||" %}
{%- for item in content_params %}
{%- assign strlen = item | size %}
{%- if strlen > 3 %}
{%- assign meta_description = item %}
{%- break %}
{%- endif %}
{%- endfor %}
<meta name="author" content="{{site.author}}">
<meta name="description" content="{{meta_description}}">
{%- if docuThisTitle %}
<meta property="og:title" content="{{docuThisTitle}}">
<meta property="og:url" content="{{docuThisHref}}">
{%- else %}
<meta property="og:title" content="{{site.title}}">
<meta property="og:url" content="{{""|absolute_url}}">
{%- endif %}
<meta property="og:site_name" content="{{site.title}}">
<meta property="og:description" content="{{meta_description}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="ko_KR">
