ul.dir {
  padding-left: 1em;
  list-style: none;
  ul {
    list-style: none;
    padding-left: .5em;
  }
  ul li {
    position: relative;
    padding-left: .5em;
    border-left: 1px solid getTextColor(Dividers);
  }
  ul li:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: .8em;
    width: .5em;
    border-bottom: 1px solid getTextColor(Dividers);
  }
  ul li:last-child:after {
    height: .8em;
    border-left: 1px solid getTextColor(Dividers);
  }
  ul li:last-child {
    border-left:none;
  }
  li {
    &:before {
      content: 'folder';
      display: inline-block;
      margin-right: .5em;
      float: left;
      color: getTextColor(Icons);
      font-family: "Material Icons";
    }
    &.folder:before{
      content: 'folder';
    }
    &.file:before{
      content: 'insert_drive_file';
    }
  }
}
